html {
    scroll-behavior: smooth;
  }
  
  body {
  
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    font-family: candara;
  }
  
  /* Global */
  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
  
  
  }
  
  ul {
    margin: 0;
    padding: 0;
    transition: font-size 1s;
  }
  
  ul:hover {
    font-size: 15px;
  }
  
  .button_1 {
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .dark {
    border-radius: 8px;
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
  
  }
  
  /* Header **/
  header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
    border-radius: 5px;
  }
  
  header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  
  }
  
  header #branding {
    float: left;
    transition: font-size 1s;
  }
  
  header #branding:hover {
  
    font-size: 20px;
  }
  
  header #branding h1 {
    margin: 0;
  }
  
  
  header nav {
    float: right;
    margin-top: 10px;
  
  }
  
  header .titre-h1,
  header .current a {
    color: #e8491d;
    font-weight: bold;
  
  }
  
  a {
    transition: font-size 1s;
  }
  
  a:hover {
    font-size: 20px;
  
  }
  
  header a:hover {
    color: firebrick;
    font-weight: bold;
  }
  
  /* Showcase */
  #showcase {
    min-height: 500px;
    background: url('../img/showcase.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #e6e6e6;
  }
  
  .aside {
    min-height: 100px;
    width: 800px;
    background: url('../img/isokzqlq.jpg') no-repeat;
    padding-top: 30%;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #e6e6e6;
    border-radius: 20px;
    margin: 20px;
  
  }
  
  .button {
  
    margin-bottom: 4.3125rem;
    padding: 1.25rem 3.75rem;
    border-radius: 4px;
    background-color: #e8491d;
    float: right;
    color: #e6e6e6;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    float: none;
  
  }
  
  #sidebar {
    border-radius: 20px;
    margin: 20px;
    border-bottom: #e8491d 3px solid;
    border-radius: 5px;
  
  }
  
  #showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
  }
  
  #showcase p {
    font-size: 20px;
  }
  
  /* Newsletter */
  #newsletter {
  
    color: #ffffff;
    background: #35424a
  }
  
  #newsletter h1 {
    float: left;
  }
  
  #newsletter form {
    float: right;
    margin-top: 15px;
  
  }
  
  #newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
  }
  
  /* Boxes */
  #boxes {
    margin-top: 20px;
  }
  
  #boxes .box {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
    transition: font-size 1s;
  }
  
  #boxes .box:hover {
    font-size: 18px;
    color: brown;
  
  }
  
  #boxes .box img {
    width: 90px;
  }
  
  /* Sidebar */
  aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
  }
  
  aside#sidebar .quote input,
  aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
  }
  
  /* Main-col */
  article#main-col {
    float: left;
    width: 65%;
  }
  
  /* Services */
  ul#services li {
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
  
  }
  
  .dark li a {
    text-decoration: none;
    font-weight: bold;
    font-family: candara;
    color: #ffffff;
  }
  
  .dark li {
    background-color: #35424a;
  }
  
  .form {
    font-weight: bold;
    font-family: candara;
  }
  
  
  footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #e8491d;
    text-align: center;
    font-weight: bold;
  }
  
  /* Media Queries */
  @media(max-width: 768px) {
  
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
      float: none;
      text-align: center;
      width: 100%;
    }
  
    header {
      padding-bottom: 20px;
    }
  
    #showcase h1 {
      margin-top: 40px;
    }
  
    #newsletter button,
    .quote button {
      display: block;
      width: 100%;
  
    }
  
    #newsletter form input[type="email"],
    .quote input,
    .quote textarea {
      width: 100%;
      margin-bottom: 5px;
  
    }
  }
  
  nav.smooth-scroll {
    text-align: center;
    float: right;
    border-radius: 50%;
  }
  
  nav.smooth-scroll {
    display: inline-block;
    margin: 0 .25em;
    padding: 0 .25em;
    text-decoration: none;
    line-height: 2;
    background-color: #9f9393;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: margin-top 5s;
    border-radius: 30%;
  
  }
  
  nav.smooth-scroll :hover {
    color: #00F;
    border-radius: 30%;
  }
  
  nav.smooth-scroll :hover {
    background-size: 30% 1px;
  }
  
  
  #main {
    background-color: #d6d1d1;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  
  }
  
  header {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    margin-top: 20px;
  }
  
  h3 {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    padding-bottom: 20px;
    padding-top: 30px;
  }
  
  #img-div {
    background: white;
    border-color: #eee;
    border-style: solid;
    margin: 5px;
    margin-left: 5px;
  }
  
  #image:hover {
    filter: opacity (0.4) drop-shadow(0 0 0 #477CA7);
  }
  
  #image {
    display: block;
    max-with: 100%;
    margin-left: 20px;
    margin-right: 20px;
    height: auto;
    min-height: 800px;
    background: url('../img/isokzqlq.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #e6e6e6;
  }
  
  #img-caption {
    margin: 20px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  
  }
  
  .medias {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    border-radius: 5px;
    float: left;
  }
  
  .bull {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    background: #f1f1f1;
    cursor: pointer;
    position: relative;
  }
  
  .logo-medias {
    width: 28px;
    height: 28px;
    border-radius: 5px;
  
  }
  <caption><a href="#"> Rum, Village Jordanie   4,93</a></caption>
                  <p>Particulier</p>
                  <p>12-17 Oct.</p>
                  <caption>13$ par nuit</caption>